In [20]:
import numpy as np
import pandas as pd

In [21]:
pets = pd.DataFrame({'sex': np.array(['M', 'M', 'F', 'M', 'F', 'F', 'F', 'M', 'F', 'M']),
                   'age': np.array([21, 45, 23, 56, 47, 70, 34, 30, 19, 62]),
                   'pets': np.array([['cat', 'dog'],
                                    ['hamster'],
                                    ['cat', 'gerbil'],
                                    ['fish', 'hamster', 'gerbil'],
                                    ['cat'],
                                    ['dog'],
                                    ['dog'],
                                    ['cat'],
                                    ['rabbit', 'cat'],
                                    ['dog']])})

/var/folders/3s/25vx7crs647801fyh_fhl1900000gn/T/ipykernel_10217/627336042.py:3: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  'pets': np.array([['cat', 'dog'],

In [29]:
pets

  sex  age                     pets  num_pets
0   M   21               [cat, dog]         2
1   M   45                [hamster]         1
2   F   23            [cat, gerbil]         2
3   M   56  [fish, hamster, gerbil]         3
4   F   47                    [cat]         1
5   F   70                    [dog]         1
6   F   34                    [dog]         1
7   M   30                    [cat]         1
8   F   19            [rabbit, cat]         2
9   M   62                    [dog]         1

In [30]:
#What sex was the youngest respondent?
#Think about breaking this task down into creating a boolean index that is True where the value in the age column is equal to the minimum of the age column. 
#Then select the sex column.
# one line of code
#to find the minimun age in dftype age and sex
pets.loc[pets['age'] == min(pets['age']), 'sex']

8    F
Name: sex, dtype: object

In [31]:
#What age was the person with the most pets?
# task: create new column 'num_pets' which contains the number of pets
# each person had (hint: this is the length of each list in the pets column)
# one line of code here:
#Hint, you may find apply ing len as a lambda function to the pets column useful here. 
#Remember that calling len on the pets column will just return the length of the series, 
#which is the number of rows in the DataFrame and call it 'num_pets'.
pets['num_pets'] = pets['pets'].apply(lambda x: len(x))

In [32]:
pets

  sex  age                     pets  num_pets
0   M   21               [cat, dog]         2
1   M   45                [hamster]         1
2   F   23            [cat, gerbil]         2
3   M   56  [fish, hamster, gerbil]         3
4   F   47                    [cat]         1
5   F   70                    [dog]         1
6   F   34                    [dog]         1
7   M   30                    [cat]         1
8   F   19            [rabbit, cat]         2
9   M   62                    [dog]         1

In [33]:
#MAX
pets.loc[pets['num_pets'] == max(pets['num_pets']), 'age']

3    56
Name: age, dtype: int64

In [34]:
#What was the most popular pet?
#This is a very interesting question, given the data, because the data are arranged by respondent, not by pet. 
#We need to get into the pets column now in order to count each type of animal. 
#To do this, we could perform a list comprehension and iterate over each list element for each Series element. 
#But here we're going to give you a handy way to convert that Series of lists into a (longer) Series. 
#The reason for this is to end up with another Series, which means we still have access to the powerful methods available from pandas.
pet_series = pets['pets'].apply(pd.Series).stack().reset_index(drop=True)
pet_series

0         cat
1         dog
2     hamster
3         cat
4      gerbil
5        fish
6     hamster
7      gerbil
8         cat
9         dog
10        dog
11        cat
12     rabbit
13        cat
14        dog
dtype: object

In [35]:
# task: produce an ordered count of each animal
# one line of code here:
pet_series.value_counts()

cat        5
dog        4
hamster    2
gerbil     2
fish       1
rabbit     1
dtype: int64

In [ ]:
#What was the average age of dog owners?
#Hint, again here you may find it useful to use a lambda function to create a boolean index which is True if a respondent said they had a dog and False otherwise.

# example
('dog' in ['dog', 'cat'], 'dog' in ['rabbit'])

In [28]:

# task: use a lambda function to test whether 'dog' is contained in each list of animals,
# extract the age column and then chain the mean method to calculate the average age.
# one line of code here:
pets.loc[pets['pets'].apply(lambda x: 'dog' in x), 'age'].mean()

46.75